* {
	box-sizing: border-box;
}

body {
	background-image: url("https://upload.wikimedia.org/wikipedia/en/2/23/Parks_and_recreation_title.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 {
}

.jumbotron{
	background-color: transparent;
	text-align: center;
}

#image{
	width: 275px;
	margin-left: 50px;
}


#defaultImg{
	height:auto;
	width: 100%;
	border-radius: 25px;
}

#hangman {
	height: 350px;
	text-align: center;
	background-color: #979ca3;
	opacity: .95;
	border-color: #5e5f60;
	border-width: 2px;
	border-style: solid;
	border-radius: 25px;
	margin-left: 150px;
}

#word-display {
	letter-spacing: .3em;
}