* {
	box-sizing: border-box;
}

body {
	background-image: url("https://upload.wikimedia.org/wikipedia/en/2/23/Parks_and_recreation_title.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.jumbotron h1 {
	font-family: 'Francois One', sans-serif;
	font-weight: bold;
	font-size: 90px;
	margin-bottom: -20px;
}

.jumbotron h2 {
	font-family: 'Cuprum', sans-serif;
	font-size: 70px;
}

h3 {
	font-family: 'Francois One', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
}

.jumbotron{
	background-color: transparent;
	text-align: center;
	margin-bottom: -10px;
}

#image{
	width: 275px;
	margin-left: 70px;
}


#defaultImg{
	height:auto;
	width: 100%;
	border-radius: 25px;
}

#hangman {
	padding-top: 20px;
	height: 350px;
	text-align: center;
	background-color: #979ca3;
	opacity: .95;
	border-radius: 25px;
	margin-left: 150px;
}

#word-display {
	letter-spacing: .3em;
}